html {
	background-color: black;
}

body {
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
	width: 1080px;
	margin: 5px auto;
	padding: 5px 5px 5px 5px;
}

#header {
	background-color: steelblue;
	text-align: center;
	font-size: 18px;
	/* padding: 0px 5px 0px 5px; */
}

#main {
	background-color: steelblue;
	padding: 5px 5px 5px 5px;
}

#footer {
	background-color: steelblue;
	/* padding: 0px 5px 0px 5px; */
}


#links {
	text-align: left;
	margin: auto;
	border: 0px solid black;
	font-size: 14px;
}

#links table {
	width: 98%;
	background-color: #6a9ac1;
	margin: auto;
}

#links table td:nth-child(1) {
	font-size: 14px;
}

#links table td {
	padding: 3px;
}

#links table tr.active a {
	background-color: hsla(197, 57%, 65%, 1);
}

#links table tr.active a::before {
	content: ">> ";
	font-weight: bold;
}

#links table tr.active a::after {
	content: " <<";
	font-weight: bold;
}

#scanresults {
	margin: auto;
	text-align: center;
}

#scanresults table {
	width: 98%;
	background-color: lightsteelblue;
	margin: auto;
	padding: 0px;
	empty-cells: show;
	position: relative;
}

#scanresults table tr th {
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
}

#scanresults table tr:nth-child(1) th {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
#scanresults table th:nth-child(1){
	font-size:16px;
}

#scanresults table th, #scanresults table td {
	border: 1px solid black;
	margin: 0px;
	padding: 4px;
	empty-cells: show;
}

#scanresults table tr:nth-child(1) th:nth-child(7) , #scanresults table td:nth-child(7) {
	text-align: left;
}

#scanresults table td, #scanresults table th {
	padding: 5px;
	vertical-align: middle;
}

#scanresults table caption {
	background-color: #c8cfd8;
	border: 1px solid black;
	font-size: 26px;
	/* height: 30px; */
	padding: 5px;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.loadtimeCaption {
	position: absolute;
	top: 10px;
	right: 15px;
	/* height: 100px; */
	font-size: 16px;
}


div#usageInfo {
    text-align: left;
    margin: auto;
    border: 0px solid black;
    font-size: 14px;
    background-color: #6a9ac1;
    width: 98%;
    background-color: #6a9ac1;
    margin: auto;
}